@media (max-width: 600px) {
  .stack-div {
    height: 55dvh;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .stack-div {
    height: 65dvh;
  }
}

@media (max-width: 425px) {
  .stack-div {
    height: 35dvh;
  }
}