.hero-content {
  background-image: url(/images/integrate1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero-content {
    background-image: none;
  }
}
