.hero-content-wrapper {
  position: relative;
  padding-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  animation: fadeIn 0.6s ease-out;
}

.hero-content-wrapper > div {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .hero-mobile-wrapper {
    display: none;
  }
}
